@use 'colors';
// @use 'typography';
@use 'functions';

.none {
  display: none;
}

.block {
  display: block;
}

/* header */

.header {
  margin-top: 3rem;
  margin-bottom: 3rem;

  .header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar {
      display: flex;
      align-items: center;

      .logo-container {
        width: 2rem;

        .logo {
          width: 100%;
        }
      }

      .nav-ul {
        display: none;
        margin-left: 5rem;

        .nav-li {
          display: inline-block;
          padding: 0 1.3rem;
          text-align: center;

          .active {
            font-weight: bold;
          }
        }
      }
    }

    .request-demo {
      display: none;
      border-radius: 50px;
      padding: 1rem 1.5rem;
      background-color: white;
      filter: drop-shadow(0 5px 5px functions.tint(colors.$light-blue-grey, 90%));

      .purple-arrow {
        width: 20px;
        vertical-align: middle;
        margin-left: 8px;
      }
    }

    .hamburger {
      display: block;
      position: relative;

      #nav-icon1 {
        width: 30px;
        height: 22px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
      }

      #nav-icon1 span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
      }

      #nav-icon1 span:nth-child(1) {
        top: 0;
        background: colors.$pink;
      }

      #nav-icon1 span:nth-child(2) {
        top: 9px;
        background: colors.$light-purple;
      }

      #nav-icon1 span:nth-child(3) {
        top: 18px;
        background: colors.$deep-blue-grey;
      }

      #nav-icon1.open span:nth-child(1) {
        top: 10px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      #nav-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -40px;
      }

      #nav-icon1.open span:nth-child(3) {
        top: 18px;
        background: colors.$light-purple;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }

      .hamburger-dropdown {
        position: absolute;
        top: 35px;
        left: -100px;
        width: 130px;
        background-color: colors.$light-purple;
        z-index: 23;

        .nav-li {
          padding: 0.7rem 0.4rem;
          border-bottom: 1px solid white;

          &:hover {
            background-color: colors.$pink;
          }

          .nav-a {
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .header {
    .header-navbar {
      .navbar {
        .nav-ul {
          display: block;
        }
      }

      .request-demo {
        display: inline-block;
      }

      .hamburger {
        display: none;
      }
    }
  }
}


